
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@Html.Partial("_Nofit")
<div class="container-91 row my-2 mb-5">
    <div class="col-6">
        <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;"><div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=ĐH+Nông+lâm&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="google-maps-html" href="https://www.bootstrapskins.com/themes" id="enable-maps-data">premium bootstrap themes</a>
        <style>
            #embed-map-canvas img {
                max-height: none;
                max-width: none !important;
                background: none !important;
            }
        </style></div>
     </div>
    <div class="col-6">
        <div class="ml-2">
            <h2 class="my-4">Liên hệ</h2>
            <div class="my-3">
                <small class="text-secondary">Liên hệ</small>
                <strong class="d-block" style="font-size:14px; color:#252a2b">
                    Khoa CNTT trường ĐH Nông Lâm
                </strong>
            </div>
            <div class="my-3">
                <small class="text-secondary">Địa chỉ của chúng tôi</small>
                <strong class="d-block" style="font-size:14px; color:#252a2b">
                  ĐH Nông Lâm,  Linh Trung, Thủ Đức, TP.Hồ Chí Minh
                </strong>
            </div>
            <div class="my-3">
                <small class="text-secondary">Email chúng tôi</small>
                <strong class="d-block" style="font-size:14px; color:#252a2b">nhom33@gmail.com</strong>
            </div>
            <div class="my-3">
                <small class="text-secondary">Điện thoại</small>
                <strong class="d-block" style="font-size:14px; color:#252a2b">0123 456 789</strong>
            </div>
            <div class="my-3">
                <small class="text-secondary">Thời gian làm việc</small>
                <strong class="d-block" style="font-size:14px; color:#252a2b">
                    Tất cả các ngày trong tuần, từ 8h30
                    đến 17h30
                </strong>
            </div>


            <h4 class="my-4">Gửi thắc mắc cho chúng tôi</h4>

            <style>
                .form-contact input {
                    padding: 20px;
                    color: #333;
                }

                    .form-contact input::placeholder {
                        padding: 0;
                    }

                .form-contact textarea::placeholder {
                    padding: 0;
                }
            </style>

            <!--form-->
            <form class="form-contact" method="POST" action="Site/SubmitContact">

                <div class="form-group mb-4">
                    <input type="text" name="Fullname" class="form-control rounded-0 py-4 bg-light" aria-describedby="emailHelp" placeholder="Tên của bạn" required="" style="">
                </div>
                <div class="row mb-2 p-0">
                    <div class="form-group col-6">
                        <input type="email" name="Email" class="form-control rounded-0 py-4 bg-light" placeholder="Email của bạn" required="">
                    </div>
                    <div class="form-group col-6">
                        <input type="text" name="Phone" class="form-control rounded-0 py-4 bg-light" placeholder="Số điện thoại của bạn" required="" pattern="[0-9]{10,12}">
                    </div>
                </div>
                <div class="form-group mb-4">
                    <input type="text" name="Title" class="form-control rounded-0 py-4 bg-light" placeholder="Tiêu đề" required="">
                </div>
                <div class="form-group">
                    <textarea name="Detail" class="form-control rounded-0 bg-light pl-3" id="" rows="4" placeholder="Nội dung" required=""></textarea>
                </div>

                <button type="submit" class="btn btn-dark rounded-0 py-2 px-4 ">
                    <small>
                        GỬI CHO CHÚNG TÔI
                    </small>
                </button>
            </form>
        </div>
    </div>
</div>


